.LayoutView {
    display: grid;
    grid-template-columns: auto 250px 800px 250px auto;
    grid-template-rows: 140px 800px;
    grid-template-areas:
        ". header-left header-center header-right ."
        ". body-left body-center body-right .";
}

.headerLeft {
    grid-area: header-left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.headerCenter {
    grid-area: header-center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.headerRight {
    grid-area: header-right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bodyLeft {
    grid-area: body-left;
    background-color: #F2F2F2;
}

.bodyCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    grid-area: body-center;
    background-color: #F2F2F2;
    padding: 20px;
}

.bodyRight {
    grid-area: body-right;
    background-color: #F2F2F2;
}
