.FieldView {
    border-spacing: 10px;
    border-collapse: separate;
}

.row {

}

.cell {
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: bottom;
    background-color: white;
    border: 1px solid black;
}
